# Ignore build files
build/
CMakeFiles/
CMakeCache.txt
*.o
*.exe
*.dll
*.so
*.d
*.a
*.lib
*.pdb
*.ilk
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.build
.DS_Store
Thumbs.db
